.App {
  text-align: center;
  color: #FAD9E6;
 
}
.social{
  position: fixed;
  left: 10%;
  top: 30%;
 

}
.home{
  position: initial;
}
body {
  
  text-align: center;
  background-color: #282c34;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
*{
  margin:0;
  padding: 0;
}